@import url('assets/css/custom.css');

body {
text-align:center;
background-color:#660033;
}

#wrapper {
display:block;
border:1px #a2a2a2 solid;
width:90%;
margin:0 auto;

}
#headerbanner{
	 display:block;
  position:relative;
  height: 125px;
}
#label{
	 opacity: 6;
   
    padding: 0;
    transition: opacity .8;
    z-index: 999;
color:#660033;
font-weight:600;
font-size:190%;
text-align: center;
}
#content {
	background-color:white;
width:59.99%;

float:left;
height:335px;

    overflow: scroll;
}
 #menubar{
	width:11%;
	
float:left;
background-color:#003300;
min-height:335px;
}
 #menubar ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

 #menubar ul li {
	display: block;
	position: relative;
	float: left;
	
}

 #menubar ul li ul {
	display: none;
}

 #menubar ul li a {
	display: block;
	text-align:left;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	white-space: nowrap;
	color: #fff;
	font-size:121%;
}
 #menubar ul li ul li a {
 	
 	position:relative;
 	/*
	display: block;
	
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	white-space: nowrap;
	color: #fff;
	*/
}


 #menubar ul li:hover ul {
	display: block;
	position: relative;
	padding: 5px 10px 5px 10px;
	color:#660033;
}

 #menubar li:hover li {
	float: none;
	color:#660033;
}

 #menubar li:hover a {
	color:#660033;
}

 #menubar li:hover li a:hover {
	
	color: #fff;
}

 #menubar #drop-nav li ul li {
	border-top: 0px;
}

  
/*
#menubar{
	width:15%;
	border:1px #a2a2a2 solid;
float:left;
background-color:#003300;
	
}
#menubar ul {
	 list-style-type: none;
	 text-align:left;
	 margin-left:-35px;
}
#menubar ul li a{
	color:white;
text-decoration:none;
font-size:121%;
}
#menubar ul li a:hover{
	color:#660033;
	font-weight:bold;
	
}
*/
#sidebar {
	background-color:white;
width:29%;

float:right;
text-align:left;
min-height:335px;
}

#delimiter {
clear:both;
}

.title {
font-size:11pt;
font-family:verdana;
font-weight:700;
}
#header{
	background-color:#003300;
}

#header,#footer {

}

#us_west{
	height:75px;
	width:36px;
	border:solid 1px black;
	 opacity: .6;
    top: 240;
    left: 380;
    position: absolute;
    padding: 0;
    transition: opacity .8;
    z-index: 999;
color:#660033;

}
#us_east{
	height:35px;
	width:23px;
	border:solid 1px black;
	 opacity: .6;
    top: 250;
    left: 438;
    position: absolute;
    padding: 0;
    transition: opacity .8;
    z-index: 999;
color:#660033;

}
img{
	max-width:100%;
}
#content_wrapper{
	
	position:relative;
	
}

#grape_title{
	margin-bottom:-25px;
	width:22%;
	
}
#content_image{
	float:left;
	width:10%;
	margin-left:3px;
	
}
#grape_content{
	width:60%;
	margin-top:31px;
	
	
}
