/*
 Theme Name:   Twenty Fourteen Child
 Theme URI:    http://yourwebsite.com/twentyfourteen-child/
 Description:  My first child theme, based on Twenty Fourteen
 Author:       Daniel Pataki
 Author URI:   http://danielpataki.com
 Template:     twentyfourteen
 Version:      1.0.0
 Tags:         black, green, white, light, dark, two-columns, three-columns, left-sidebar, right-sidebar, fixed-layout, responsive-layout, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready, accessibility-ready, responsive-layout, infinite-scroll, post-slider, design, food, journal, magazine, news, photography, portfolio, clean, contemporary, dark, elegant, modern, professional, sophisticated
 Text Domain:  twenty-fourteen-child
*/
@import url("../twentyfourteen/style.css");
#header_menu{
	display:none;
}


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	/*font-family: inherit;*/
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
	color:#0000c6;
	font-family: arial;
}
	#secondary {
		width: 171px;
	}

.site {
	background-color: #fff;
	max-width: 1260px;
	position: relative;
	margin-left:auto;
	margin-right:auto;
}

.site-header {
	background-color: #325884;
	height:170px;
}
.site-title a{
	color:#ffffff;
	font-size:32px;
	font-family:Arial;
	font-weight:normal;
	margin-left:280px;
	margin-top:20px;
}

.site-description {
	color:#ffffff;
	font-size:22px;
	font-family:Arial;
	
	margin-left:360px;
}

#header_image{
	position:absolute;
	margin-left:60px;
	margin-top:-90px;
}
#header_image1{
	position:absolute;
	margin-left:840px;
	margin-top:19px;
}

.main-content{
		background-color:#FFFFFF;
	
}

.site-content{
	background-color: #FFFFFF;
}

#content .entry-header{
	background-color: #FFFFFF;
}

#content .entry-content{
	background-color: #FFFFFF;
    margin-left: -30px;
    max-width:800px;
}

#content_wrapper{
	background-color:#FFFFFF;
	position:relative;
	padding:25px;
	border-radius:15px;
	margin-left:30px;
	margin-top:-91px;
}

	.masthead-fixed .site-main {
		margin-top: 48px;
		background-color:#003300;
	}

/**/
	
.site:before {
		background-color: #D1E4FA;
		content: "";
		display: block;
		height: 100%;
		min-height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		width: 200px;
		z-index: 2;
	}
	
/**navigation bar****/
	.primary-navigation a {
    display: inline-block;
    padding: 0 12px;
    white-space: nowrap;
    font-family: Arial, Geneva, sans-serif;
}
.primary-navigation ul li {
		background-color: #638CBB;
		color:white;
		width:197px;
		font-size:11px;
		border:groove 2px white;
		border-radius:3px;
	}
	
.primary-navigation ul ul {
		background-color: #436C99;
		float: left;
		margin: 0;
		margin-top:-48px;
		position: absolute;
		top: 48px;
		left: -999em;
		z-index: 99999;
		margin-left:160px;
		border-radius:8px;
		height: 42px;
	}
	
	.primary-navigation li:hover > a,
	.primary-navigation li.focus > a {
		background-color: #E3FAE7;
		color:#436C99 !important;
		border-radius:8px;
		border:solid 2px #436C99;
		font-size:100%;
		width:87%;
		height: 42px;
	}
	.primary-navigation ul ul a:hover,
	.primary-navigation ul ul li.focus > a {
		color:#436C99;
		background-color: #E3FAE7;
		height: 10px;
	}

.site-navigation .current_page_item > a,
.site-navigation .current_page_ancestor > a,
.site-navigation .current-menu-item > a,
.site-navigation .current-menu-ancestor > a {
	background-color: #E3FAE7;
	color:#436C99 !important;
	width:178px;
	font-weight: 700;
}

.menu-toggle {
    background-color: #D1E4FA;
    border-radius: 0;
    cursor: pointer;
    height: 48px;
    
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    width: 48px;
}
/**navigation bar****/
.search-toggle {
	background-color: #436C99;
	cursor: pointer;
	float: right;
	height: 48px;
	text-align: center;
	width: 48px;
}

.search-toggle:hover,
.search-toggle.active {
	background-color: #436C99;
}

.search-box {
	background-color: #D1E4FA;
	padding: 12px;
	width: 400px;
    float: right;
}
.entry-title {
    font-size: 33px;
    font-weight: 300;
    line-height: 1.0909090909;
    margin-bottom: 12px;
    margin: 0 0 12px 0;
    text-transform: uppercase;
    display: none;
}

.site-footer {
	background-color: #325884;
	font-size: 12px;
	position: relative;
	z-index: 3;
	text-align:center;
}
/*
.table{
	 display:table;         
min-width:800px;

}
.row{
	 display:table-row;
  height:250px;
  clear:both;
}
.cell{
	
  display:table-column;         
  width:450px;         

}
.cell_home_img{
	 float:left;
  display:table-column;         
  width:500px;         
position:absolute;
margin-top:0px;
margin-left:350px;

}
#home{
	border:groove 2px #436C99;
}
p{
	font-size:18px;
	font-family:Arial, Geneva, sans-serif;
	text-align:left;
	padding-bottom:10px;
}
*/
#projects{
	margin-left:75px;
}
ul{
	
	padding-bottom:30px;
}
ul li{
	
	font-size:18px;
	font-family:Arial, Geneva, sans-serif;
	text-align:left;
	
}
strong{
	font-size:20px;
	font-family:Arial, Geneva, sans-serif;
	font-weight:bold;
	text-align:left;
}
/*page formatting
.span1{
	width:900px;	
}
.span2{
	width:50%;
	float:left;	
}
.span3{
	width:400px;
	float:right;	
}

*/
a:link {
    text-decoration: none;
}

a:hover {
	color:#436C99 ;
    text-decoration: underline;
}


.entry-content a:hover, 
.entry-summary a:hover, 
.page-content a:hover, 
.comment-content a:hover, 
.entry-content a.button, 
.entry-summary a.button, 
.page-content a.button, 
.comment-content a.button {
   color:#436C99 ;
    text-decoration: underline;
}
#page{
	font-size:20px;
}
#heading{
	font-size:40px;
	margin-bottom:26px;
}
#sub_heading{
	font-size:30px;
}

#sub_footer{
	margin-top:100px;
}

@media  screen and (min-width: 300px) and (max-width:1006px)  {
		.site:before {
		
		width: 2px !important;
		
	}
	#content_wrapper {
    background-color: #FFFFFF;
    position: relative;
    padding: 25px;
    border-radius: 15px;
    margin-left: 15px !important;
    margin-top: -51px !important;
}
	}
	
	@media screen and (max-width: 1006px){
.primary-navigation .menu-toggle {
   
    padding: 0;
}
}
	
@media screen and (min-width: 500px) and (max-width:900px){
.table {
    display: table !important;
min-width: 0px !important; 
width: 0px !important; 
}
.cell_home_img {
    float: left !important;
    display: table-column !important;
    width: 500px !important;
  
    margin-top: -15px !important;
    margin-left: -100px !important;
}
.cell {
    float: left !important;
    display: table-column !important;
    width: 450px !important;
    margin-top: 250px !important;
}
}
@media screen and (min-width: 300px) and (max-width:476px){
	
	.site-title a {

    font-size: 13px !important;
}
}
@media screen and (min-width: 476px) and (max-width:620px){
	
	.site-title a {

    font-size: 23px !important;
}
}
@media screen and (min-width: 300px) and (max-width:1145px){
#header_image{
	display:none !important;
}
#header_image1{
		display:none !important;
}
.site-title a {
   
    margin-left: auto !important;
    margin-right: auto !important;
}
.site-description {
     margin-left: auto !important;
    margin-right: auto !important;
}
}


@media screen and (min-width: 1000px){
.primary-navigation .menu-toggle {
   
    padding: 0 !important;
}
}
@media screen and (min-width: 318px) and (max-width:1005px){
#header_menu{
	display:block !important;
}
}
#menu_wrapper{
	display:block;
}
